requests>=2.11.1
selenium>=3.14.0
lxml>=4.0.0
virtualenv>=12.0
mitmproxy>=4.0.0
ldaptor>=16.0
psutil>=3.0.0
public>=0.0.0
pycurl>=7.19.0
pyOpenSSL>=16.0.0
Pillow >=7.1.0
diffimg >=0.2.0
fpdf2>=2.3.1
Pikepdf>=2.8.0

# For running tests on helper
Babel>=2.6.0
Flask-Login>=0.4.0
Flask-Babel>=1.0.0
sqlalchemy>=1.3.10
iso-639>=0.4.5
unidecode>=1.0.0
Flask-Principal>=0.3.2

# Gdrive integration
fs.googledrivefs>=1.7.0

# E-Mailing results and uploading results to server
keyring>=21.0.0
paramiko>=2.7.0
pdfkit>=0.6.0