### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Helper files
*.db
!test/Calibre_db/metadata.db
*.log

# IDE
.idea/
*.bak
*.log.*
tags

build/example_tasks.txt
build/hints.txt
selenium

/venv/
*.key
*.crt
*.cert.pem
